# Krpano cube Settings
# Documentation: http://krpano.com/tools/kmakemultires/config?version=116
# krpano tools 1.16

# always embed the viewer licenses
embedlicenses=true

# kproectcl tool settings (for embedded licenses and standalone swf setting)
kprotectclparameters=-nomb -swfsize=900x600

# image filtering and compression settings
filter=LANCZOS
jpegquality=95
jpegsubsamp=444
jpegoptimize=true

# convert spherical/cylindrical to cubical
converttocube=true

# multiresolution settings
multires=true
tilesize=256
levels=3
levelstep=2
maxcubesize=2048

# output images path
tilepath=%INPUTPATH%/cube/tiles/%Al/[c]/%Av_%Ah.jpg

# generate cube preview settings
preview=true
cspreview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/cube/preview.jpg

# generate thumbnails
makethumb=true
thumbsize=240
thumbpath=%INPUTPATH%/thumb.jpg


# xml output
xml=false

# html output/template
html=false

# generate smaller mobile images
customimage[4096h].size=4096
customimage[4096h].path=%INPUTPATH%/cube/4096h_%s.jpg
customimage[4096h].imagesettings=jpegquality=95 jpegsubsamp=444 jpegoptimize=true

customimage[4096m].size=4096
customimage[4096m].path=%INPUTPATH%/cube/4096m_%s.jpg
customimage[4096m].imagesettings=jpegquality=85 jpegsubsamp=444 jpegoptimize=true

customimage[4096l].size=4096
customimage[4096l].path=%INPUTPATH%/cube/4096m_%s.jpg
customimage[4096l].imagesettings=jpegquality=75 jpegsubsamp=444 jpegoptimize=true

customimage[2048h].size=2048
customimage[2048h].path=%INPUTPATH%/cube/2048h_%s.jpg
customimage[2048h].imagesettings=jpegquality=95 jpegsubsamp=444 jpegoptimize=true

customimage[2048m].size=2048
customimage[2048m].path=%INPUTPATH%/cube/2048m_%s.jpg
customimage[2048m].imagesettings=jpegquality=85 jpegsubsamp=444 jpegoptimize=true

customimage[2048l].size=2048
customimage[2048l].path=%INPUTPATH%/cube/2048l_%s.jpg
customimage[2048l].imagesettings=jpegquality=75 jpegsubsamp=444 jpegoptimize=true

customimage[1024h].size=1024
customimage[1024h].path=%INPUTPATH%/cube/1024h_%s.jpg
customimage[1024h].imagesettings=jpegquality=95 jpegsubsamp=444 jpegoptimize=true

customimage[1024m].size=1024
customimage[1024m].path=%INPUTPATH%/cube/1024m_%s.jpg
customimage[1024m].imagesettings=jpegquality=85 jpegsubsamp=444 jpegoptimize=true

customimage[1024l].size=1024
customimage[1024l].path=%INPUTPATH%/cube/1024l_%s.jpg
customimage[1024l].imagesettings=jpegquality=75 jpegsubsamp=444 jpegoptimize=true

customimage[512h].size=512
customimage[512h].path=%INPUTPATH%/cube/512h_%s.jpg
customimage[512h].imagesettings=jpegquality=95 jpegsubsamp=444 jpegoptimize=true

customimage[512m].size=512
customimage[512m].path=%INPUTPATH%/cube/512m_%s.jpg
customimage[512m].imagesettings=jpegquality=85 jpegsubsamp=444 jpegoptimize=true

customimage[512l].size=512
customimage[512l].path=%INPUTPATH%/cube/512l_%s.jpg
customimage[512l].imagesettings=jpegquality=75 jpegsubsamp=444 jpegoptimize=true
